@import '_colors';

.row {
  padding-top: 6px;
  padding-bottom: 6px;
}

.row p {
  margin: 0;
  font-size: 0.6em;

}

.row h1 {
  font-size: 1em;
  margin: 0;
  color: $secondary;
}

span {
  color: $secondary;
}
