<div class="container">
  <div class="row">
    <div class="col">
      <a href="#">{{ 'navbar.clients' | translate }} </a>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#">{{ 'navbar.test' | translate }}</a>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#">{{ 'navbar.notifications' | translate }}</a>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#">{{ 'navbar.configuration' | translate }}</a>
    </div>
    <div class="col-1"></div>
  </div>
</div>
