<div class="container">
  <div class="container-fluid">
    <h1>Seguimiento</h1>
    <drag-scroll [scrollbar-hidden]=!getScrollbarHidden()>
      <div class="injury-card">
        a
      </div>
      <div class="injury-card">
        a
      </div>
      <div class="injury-card">
        a
      </div>
      <div class="injury-card">
        a
      </div>
      <div class="injury-card">
        a
      </div>
      <div class="injury-card">
        a
      </div>
      <div class="injury-card">
        a
      </div>
      <div class="injury-card">
        a
      </div>
      <div class="injury-card">
        a
      </div>


    </drag-scroll>
  </div>

</div>
