<app-sidebar userType="client"></app-sidebar>


<div class="container-fluid header">
  <div class="container">
    <div class="row align-items-center ">
      <div class="col-3 col-lg-1">
        <img (click)="openNav()" src="./assets/icons/common/menu-icon.svg" class="menu-icon" />
      </div>
      <div class="col">
      </div>
      <div class="col-4 col-md-2">
        <button (click)="installApp()" type="button" class="btn small-button">
          {{'navbar.download' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
